.header {
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #015079;
  color: #fff;
}

.title, .description {
  font-size: 1.2em;
  font-weight: 600;
}

.main {
  padding: 1% 0 0;
  background: linear-gradient(90deg, #009cc5, #00d2ff);  background-repeat: no-repeat;
}

.tempo {
  margin: auto;
  width: 40%;
  padding: 2% 0 2%;
  border-radius: 10px;
  background: #fff;
  text-align: center;
}

.view {
  display: none;
  font-size: 3em;
}

.containerInput {
  margin: 0 auto;
}

.inputCity, .inputState {
  margin: 4px 4px;
  padding: 2%;
  border: 2px solid #015079;
  border-radius: 10px;
  width: 60%;
}

.footer {
  background: #404040;
}











